html, body {
	font-size: 18px;
	font-family: sans-serif;
	background: #111111;
	color: #EEEEEE;
}

a, .myname {
	color: #cfeeff;
}

.pink {
	color: #fcdcfc;
}

a:hover {
	text-decoration: none;
	color: #fcdcfc;
}
