html, body {
	font-size: 18px;
	font-family: sans-serif;
	background: #111111;
	color: #EEEEEE;
}

#text {
	position: relative;
	z-index: 2;
}

a, .myname {
	color: #cfeeff;
}

.pink {
	color: #fcdcfc;
}

a:hover {
	text-decoration: none;
	color: #fcdcfc;
}

@keyframes spin {
	from {transform: translate(-50%, -50%) rotate(0deg);}
	to {transform: translate(-50%, -50%) rotate(360deg);}
}

.spinningbox {
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #111111;
	border: 2px solid #555555;
	border-radius: 10px;
	animation-name: spin;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.spinningbox.big {
	width: 25%;
}

.spinningbox.medium {
	width: 20%;
	animation-direction: reverse;
	animation-duration: 15s;
}

.spinningbox.small {
	width: 15%;
	animation-duration: 10s;
}

.spinningbox span {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
	user-select: none;
	color: #777777;
}